@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Space+Helvetica&display=swap%27");
:root {
  --heading-font: "Grotesk";
  --paragraph-font: Lato, Helvetica, sans-serif;
}
.space-below {
  margin-bottom: 10px;
  color: white;
}

.main-grid-container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: white;
  padding: 10px;
}

.main-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.header-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #0a3161;
  padding: 10px;
}

.header-grid-item {
  grid-template-columns: auto;
}

.menu-grid-container {
  background-color: #b31942;
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding: 10px;
}

.menu-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.information-grid-container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  background-color: #b31942;
  padding: 10px;
}

.information-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.further-info-grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
  background-color: #b31942;
  padding: 10px;
}

.further-info-grid-item {
  background-color: #b31942;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.footer-grid-item {
  color: white;
  background-color: #0a3161;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 0% 0% 0% 25%;
}

h3 {
  color: #cfac52;
}

a:hover {
  color: #cfac52;
}

a {
  color: white;
}

.liberty {
  margin-left: -30px;
  margin-top: 35px;
}

#flag {
  width: 100%;
}

/* ----------------------------------------- Subpage 1 below -------------------------------- */

.sub1-grid-container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
}

.p1-grid-container {
  background-color: #b31942;
  border: 10px solid #0a3161;
}

.p1-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.p2-grid-container {
  background-color: #b31942;
  border: 10px solid #0a3161;
}

.p2-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.p3-grid-container {
  background-color: #b31942;
  border: 10px solid #0a3161;
}

.p3-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.lincoln_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}

.adress_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}
