@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Space+Helvetica&display=swap%27");
:root {
  --heading-font: "Grotesk";
  --paragraph-font: Lato, Helvetica, sans-serif;
}
.space-below {
  margin-bottom: 10px;
  color: white;
}

.main-grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: wheat;
  padding: 10px;
}

.main-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.header-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #0a3161;
  padding: 10px;
}

.header-grid-item {
  grid-template-columns: auto;
}

.menu-grid-container {
  background-color: #b31942;
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding: 10px;
}

.menu-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.information-grid-container {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  background-color: #b31942;
  border: 10px solid #0a3161;
  padding: 10px;
}

.information-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.further-info-grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
  background-color: #b31942;
  border: 10px solid #0a3161;
  padding: 10px;
}

.further-info-grid-item {
  background-color: #b31942;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.footer-grid-item {
  color: white;
  background-color: #0a3161;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 0% 0% 0% 25%;
}

h3 {
  color: #cfac52;
}

a:hover {
  color: #cfac52;
}

a {
  color: white;
}

#liberty {
  height: 600px;
  width: 200px;
  margin-left: -30px;
  margin-top: 35px;
}

.patriot {
  position: relative;
  display: inline-block;
}

.patriot-content {
  display: none;
  position: absolute;
  background-color: #0a3161;
  min-width: 100px;
  padding: 5px;
}

.patriot:hover .patriot-content {
  display: block;
}

#flag {
  height: 500px;
  width: 1000px;
}

#logo {
  height: 150px;
  width: 150px;
}

/* ----------------------------------------- Subpage 1 below -------------------------------- */

.header1-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #0a3161;
  padding: 10px;
}

.header1-grid-item {
  grid-template-columns: auto;
  margin-right: auto;
  margin-left: auto;
}

.menu1-grid-container {
  background-color: #b31942;
  padding: 10px;
}

.menu1-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.sub1-grid-container {
  background-color: wheat;
  padding: 10px;
}

.p1-grid-container {
  padding: 10px;
  display: flex;
  width: 70%;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-left: auto;
}

.p1-grid-item {
  flex: 60%;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.p2-grid-container {
  display: flex;
  width: 70%;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-right: auto;
}

.p2-grid-item {
  flex: 60%;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.p3-grid-container {
  display: flex;
  width: 70%;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-left: auto;
}

.p3-grid-item {
  flex: 60%;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.lincoln_pic {
  flex: 40%;
  width: 20%;
  padding: 10px;
}

.adress_pic {
  flex: 40%;
  width: 20%;
  padding: 10px;
}

.war_pic {
  flex: 40%;
  width: 20%;
  padding: 10px;
}

#war {
  height: 300px;
  width: 300px;
}

#adress {
  height: 300px;
  width: 300px;
}

#ucflag {
  height: 500px;
  width: 1000px;
}

#lincoln {
  height: 300px;
  width: 300px;
}

.ucflag {
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------------------------Subpage2------------------------------------- */

.flag13 {
  margin-left: auto;
  margin-right: auto;
}

#flag13 {
  padding: 20px;
  height: 500px;
  width: 1000px;
}

#washington {
  height: 300px;
  width: 300px;
  margin: auto;
}

#eagle {
  height: 300px;
  width: 300px;
}

#dec {
  height: 300px;
  width: 300px;
}

.p1p-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.p1p-grid-container {
  padding: 10px;
  display: flex;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-right: auto;
}

.p2p-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: auto;
}

.p2p-grid-container {
  padding: 10px;
  display: flex;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-right: auto;
}

.p3p-grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: auto;
}

.p3p-grid-container {
  padding: 10px;
  display: flex;
  background-color: #b31942;
  border: 10px solid #0a3161;
  margin-right: auto;
}
